{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
<h1>Catégories</h1>
<div>
    <a href={{path('categories_add')}}>Créer une catégorie</a>
</div>

<div>
{% for category in categories %}
    <a href={{path('clients_category', {'name':category.name})}}>{{category.name}}</a>
    <a href={{path('categories_update', {'id':category.id})}}>update</a>
    <a href={{path('categories_delete', {'id':category.id})}}>delete</a>
{% endfor %}
</div>
{% endblock %}